## Task 2 Set up an Analysis Pipeline
### Load Data

In [ ]:
raw_math = pd.read_csv('../data/raw/Maths_formatted.csv', engine='python', on_bad_lines='skip')
raw_portuguese = pd.read_csv('../data/raw/Portuguese_formatted.csv', engine='python', on_bad_lines='skip')

### Merge Data Sets

In [ ]:
raw_math['subject'] = "math"
raw_portuguese['subject'] = "portuguese"
combined_data = pd.concat([df1,df2], ignore_index=True)

### Rename Columns
As mentioned prior, misleading or ambiguous columns should be renamed to make them more clear based on the actual source description. Standardize column names using snake_case.

In [ ]:
#Convert everything to snake case and improve naming
column_mapper = {'famsize': 'family_size', 'Pstatus': 'parent_living_status', 
          'Medu': "mother_edu", 'Fedu': 'father_edu', 'Mjob':'mother_job', 'Fjob' : 'father_job', 
          'traveltime':'travel_time', 'studytime': 'weekly_study_time', 'schoolsup':'school_support', 
          'famsup': 'family_support', 'paid':'extra_paid_classes', 'activities': 'activity_participation',
          'higher': 'higher_education_plan', 'nursery' : 'attended_nursery_school','famrel': 'family_relations', 'freetime':'free_time', 
          'goout': 'out_w/_friends', 'Dalc' : 'weekday_alcohol', 'Walc' : 'weekend_alcohol',
          'G1': 'first_period_grade', 'G2': 'second_period_grade', 'G3':'final_grade'
         }

combined_data.rename(columns=column_mapper, inplace=True)
combined_data.head()

,school,sex,age,address,family_size,parent_living_status,mother_edu,father_edu,mother_job,father_job,...,free_time,out_w/_friends,weekday_alcohol,weekend_alcohol,health,absences,first_period_grade,second_period_grade,final_grade,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,math

### Rename values

Expand string values of school, address and parent_living_status to make them more readable. 

'U' -> 'urban', 'R' -> 'rural', 'GP' -> 'Gabriel Pereira', 'MS' -> 'Mousinho da Silveira'

In [ ]:
combined_data['address'] = combined_data['address'].map({'U':'urban', 'R':'rural'})
combined_data['school'] = combined_data['school'].map({'GP': 'Gabriel Pereira', 'MS':'Mousinho da Silveira'})

print(f'Renamed address values: {combined_data.address.unique()}')
print(f'Renamed school values: {combined_data.school.unique()}')

Renamed address values: ['urban' 'rural']
Renamed school values: ['Gabriel Pereira' 'Mousinho da Silveira']